/* dropdown hover  */
		
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;

}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
}

.dropdown-content a {
  color: black;
  background:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;  cursor: pointer;}
.dropdown:hover .dropdown-content{display: block;  cursor: pointer;}
.dropdown:hover .dropbtn{background-color:white;  cursor: pointer;}

       
*{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

.nav-bg1{background-color:white;}
.navtext{
color:black;
font-family:Georgia,serif;
font-size:18px;
border-radius:80px;
display:inline-block;
justify-content:center;
}
.navtext:hover{
color:rgb(102, 0, 255);
}

/* sidebar small screen */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  }
  
  .sidebar li {
  padding: auto;
  text-decoration: none;
  font-size:15px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  }
  .sidebar li a{
  color: #ffffff;
  }
 
  .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #ffffff;
  }
  
  .openbtn {
  margin-left: 5px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  }
  
  #main {
  transition: margin-left .5s;
  padding: 16px;
  }

  @media screen and (max-height: 450px) {
  .sidebar a {font-size: 18px;}
  }


  .grid {
    display: grid;
    width: 114rem;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
  }			
/* Cards */

html {
  box-sizing: border-box;
  font-size: 62.5%;

}



.grid {
  display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.grid__item {
border:  black 2px;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 18rem;
  object-fit: cover;
}
.card__content {
  padding: 3rem 3rem;
}
.card__header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #3363ff;

  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}

/* Partners */
.section-header h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
  width: 50%;
}

#clients {
  padding: 60px 0;
  
}
#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients img {
  transition: all 0.4s ease-in-out;
}

/* FOOTER */

.site-footer
{
background-color:#000000;
padding:45px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.site-footer hr
{
border-top-color:#bbb;
opacity:0.5
}
.site-footer hr.small
{
margin:20px 0
}
.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:10px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:rgb(102, 0, 255);
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:right
}
.site-footer .social-icons a
{
width:40px;
height:40px;
line-height:40px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#33353d
}
.copyright-text
{
margin:0
}
@media (max-width:991px)
{
.site-footer [class^=col-]
{
  margin-bottom:30px
}
}
@media (max-width:767px)
{
.site-footer
{
  padding-bottom:0
}
.site-footer .copyright-text,.site-footer .social-icons
{
  text-align:center
}
}

.footerimg
{
max-width:100%;
height:80px;
margin:40px 0px 0px 20px;

}

/* Entry container */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.wrapper{
    box-sizing: content-box;
    height: 55px; 
    display: flex;
    font-size: 3.3vw;
    font-weight: 900;
    font-family: gothicb;
}
.words{
    overflow: hidden;
}
span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: rgb(69, 27, 133);
    animation: spin_words 8s infinite;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
}

.txt{
  color: white;
   margin-left:17.5rem;
   font-size: 3.1vw;
   font-weight: bold;
   font-family: gothicb;
}

.txt2{
    color: white;
    margin-left:17.5rem;
    font-size: 15px;
    font-family: cursive;

}

.btn1{
    font-family:Georgia,serif;
    color:rgb(255, 255, 255);
    display:inline-block;
    font-size:25px;
    padding: 0px 20px;
    border:1px solid rgb(255, 255, 255);
    border-radius:50px;
    margin-top:2px;
    text-decoration: none;
    }
    .btn1:hover{
    font-family:Georgia,serif;
    color:white;
    display:inline-block;
    font-size:25px;
    padding: 0px 20px;
    border:1px solid rgb(69, 27, 133);;
    border-radius:50px;  
    background:rgb(69, 27, 133);
    text-decoration: none;
    }

    .cards{
      font-family:Georgia,serif;
      color:rgb(0, 0, 0);
      display:inline-block;
      font-size:25px;
      padding: 0px 35px;
      border:1px solid rgb(0, 0, 0);
      border-radius:50px;
      margin-top:2px;
      text-decoration: none;
      transition: 0.2s;
      }
      .cards:hover{
        color: #000000;
        text-decoration: none;
        transform: translateY(-0.5%);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
        }

    
 /*  */
 .ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 15px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #FFF;

  z-index: 2;
  position: relative;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
  
}
.ag-format-container {
max-width: 100%;
width: 1150px;
  margin: 0 auto;
}




/*  */
* {
  box-sizing: border-box;
}



.cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 4rem 9vw;
  padding: 0;
  list-style-type: none;
  
}

.card1 {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border: black solid 1px;
  border-radius: 5%;
}

.card__image1 {      
  width: 100%;
  height: auto;
}

.card__overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card1:hover .card__overlay1 {
  transform: translateY(0);
}

.card__header1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: calc(var(--curve) * 0.5px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
  border-top: solid black 1px;
}



.card1:hover .card__header1 {
  transform: translateY(0);
}



.card__title1 {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #000000;
}




.card__description1 {
  padding: 0 2em 2em;
  margin: 0;
  color: #494949;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    

.imgg{
  margin-top: 50px;
  height: 650px;
  max-width:100% ;
}

.text{
  text-align: center;
  font-size: 3vw;
  font-family: Arial black , sans-serif;
}
.text2{
  text-align: center;
  font-size: 1vw;
  font-family: Arial black , sans-serif;
}
.img{
  background-image: url(images/img.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
 
}
